.app {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid black;
  margin-left: 100px;
  margin-right: 100px;
}

.graph {
  grid-column: 2;
  grid-row: 1;
}

.graphContainer {
  position: relative;
  height: 500px;
  width: 90%;
  margin-top: 50px;
  border: 1px solid black;
}

.barGraph {
  position: absolute;
  width: 100%;
  height: 100%;
}

.previouslySearched {
  grid-column: 3;
}

.searchBar {
  grid-column: 2;
  grid-row: 1;
}

.statistics {
  grid-column: 1;
}

.submit {
  height:
}

.search {
  padding: 10px;
  font-size: 13px;
  border: 1px solid grey;
  width: 20%;
  height: 0px;
  background: #f1f1f1;
  margin-top: 10px;
}

.searchForm {
  display: inline-block;
  min-width: 100%;
}